<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>NetEase Music</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="fragment" content="!"/>
	<link rel="stylesheet" href="/ota.css">
	<link rel="stylesheet" href="/bower/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="/main.css">
	<link rel="icon" type="image/png" href="/favicon.png">
	<script src="/bower/angular/angular.min.js"></script>
	<script src="/bower/angular-route/angular-route.min.js"></script>
	<script src="/bower/angular-hotkeys/build/hotkeys.min.js"></script>
	<script src="/bower/lodash/dist/lodash.min.js"></script>
	<script src="/bower/restangular/dist/restangular.min.js"></script>
</head>
<body ng-controller="main" ng-class="{main: !!global.classname}">
	<header>
		<a href="/#/"><img src="/avatar.jpeg" height="50" width="50" alt=""><h1>NetEase Music</h1></a>
	</header>
	<section ng-view></section>
	<musicbox></musicbox>
	<footer>
		source: <a href="https://github.com/otarim/neteaseMusic" target="_blank">https://github.com/otarim/neteaseMusic</a>
	</footer>
</body>
<script src="/app.js"></script>
</html>